* {
	box-sizing: border-box;
}

body {
	font-family: 'AcherusGrotesque', 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background: #fff;
	width: 300px;
}

#results {
	margin: 0;
	padding: 10px;
}

#results .list-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
}

#results .list-wrapper + .list-wrapper {
	margin-top: 20px;
}

#results .list {
	margin: 0;
	padding: 0 0 0 8px;
	border-left: 3px solid #6200ea80;
}

#results .list .item {
	list-style: none;
	padding: 3px 0;
	border-radius: 10px;
}

#results .list .item.item-passed:before,
#results .list .item.item-failed:before {
	content: '';
	display: inline-block;
	width: 17px;
	text-align: center;
	line-height: 17px;
	margin-right: 4px;
	vertical-align: top;
}

#results .list .item.item-passed:before {
	content: '✔︎';
	color: #699C;
	font-size: 10px;
}

#results .list .item.item-failed {
	background: #9601;
}

#results .list .item.item-failed:before {
	content: '⚠︎';
	font-size: 14px;
	font-weight: bold;
	color: #900;
}

#results .list-label {
	display: block;
	padding: 4px 0;
}

#results .label,
#results .value {
	display: inline-block;
	line-height: 17px;
	vertical-align: top;
}

#results .label {
	font-size: 12px;
}

#results .label:after {
	content: ':';
}

#results .value {
	font-weight: 600;
	color: #6200ea;
}

#results [data-message] {
	position: relative;
}

#results [data-message] .value {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-style: dotted;
	text-decoration-color: #960;
}

#results [data-message]:after {
	content: attr(data-message);
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background: #444;
	padding: 3px 5px;
	color: #eee;
	text-align: center;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

#results [data-message]:hover:after {
	opacity: 1;
}

/* Divi Area details */

#results .divi-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 7px 0;
	padding: 4px 8px;
	font-weight: 400;
	border-radius: 10px;
	transition: all 0.2s;
	cursor: pointer;
	position: relative;
	color: #333;
}

#results .divi-area:after {
	content: '';
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: -4px;
	height: 1px;
	background: #EEE;
}

#results .divi-area:last-child:after {
	display: none;
}

#results .divi-area.source-free:hover,
#results .divi-area.source-free:focus,
#results .divi-area.source-free:active {
	background: #7900DB10;
	box-shadow: 0 0 0 2px #7900DB;
}

#results .divi-area.source-pro:hover,
#results .divi-area.source-pro:focus,
#results .divi-area.source-pro:active {
	background: #781D2C10;
	box-shadow: 0 0 0 2px #781D2C;
}

#results .divi-area .area-type {
	color: #333C;
	font-size: 12px;
	text-transform: uppercase;
}

#results .divi-area.source-free .area-type {
	color: #7900DB;
}

#results .divi-area.source-pro .area-type {
	color: #781D2C;
}

#results .divi-area .area-id,
#results .divi-area .area-name {
	flex: 0 0 100%;
	padding: 2px 0 2px 12px;
}
